<% layout("/layouts/boilerplate.ejs")  %>
  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity:0.7;
    }

    .filter:hover{
      opacity:1;
      cursor:pointer;
    }
    .filter.active{
      opacity:1;
    }

    .filter.active i {
      color: #ff385c; 
    }

    .filter.active p {
      font-weight: bold;
    }

    .tax-info{
      display:none;
    }

    .tax-toggle{
      border:1px solid black;
      height: 3.25rem;
      border-radius: 1rem;
      padding:1rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }
  </style>
    <div id="filters">
      <a href="/listings?category=Trending" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Trending' ? 'active' : '' %>">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
</a>

<a href="/listings?category=Forest" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Forest' ? 'active' : '' %>">
    <div><i class="fa-solid fa-tree"></i></div>
    <p>Forests</p>
  </div>
</a>

<a href="/listings?category=Iconic Cities" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Iconic Cities' ? 'active' : '' %>">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>
</a>

<a href="/listings?category=Mountains" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Mountains' ? 'active' : '' %>">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountain</p>
  </div>
</a>

<a href="/listings?category=Castles" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Castles' ? 'active' : '' %>">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
</a>

<a href="/listings?category=Pools" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Pools' ? 'active' : '' %>">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
</a>

<a href="/listings?category=Camping" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Camping' ? 'active' : '' %>">
    <div><i class="fa-solid fa-tent"></i></div>
    <p>Camping</p>
  </div>
</a>

<a href="/listings?category=Farms" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Farms' ? 'active' : '' %>">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
</a>

<a href="/listings?category=Arctic" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Arctic' ? 'active' : '' %>">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
</a>

<a href="/listings?category=Boats" style="text-decoration: none; color: inherit;">
  <div class="filter <%= category === 'Boats' ? 'active' : '' %>">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>
</a>
            <div class="tax-toggle ">
              <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total after taxes</label>
              </div>
            </div>
         
    </div>
 <div class="row row-cols-lg-3 row row-cols-md-1 row row-cols-sm-1 mt-1">
    <% for(let l of allListings) { %>
        <a href="/listings/<%=l._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=l.image.url%>" style="height:20rem" class="card-img-top" alt="listing">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%= l.title %></b><br>
                   &#8377; <%= l.price.toLocaleString("en-IN")%> / night
                    <i class="tax-info">&nbsp;+ 18% GST</i></p>
                </div>
              </div>
        </a>
        
          <%}%>
 </div>
    
<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    console.log("HELLO")
    let t  =document.getElementsByClassName("tax-info");
    for(info of t){
      if(info.style.display != "inline"){
        info.style.display="inline";
      }else{
      info.style.display="none";
      }
    }
  })
  </script>
  
