<% layout("/layouts/boilerplate.ejs") %>

<div >
  <form action="/bookings/<%= booking._id %>?_method=PUT" method="POST"
        data-edit-booking="true"
        data-existing-bookings='<%- JSON.stringify(allBookings.map(b => [b.checkIn, b.checkOut])) %>'
        data-default-checkin="<%= booking.checkIn.toISOString() %>"
        data-default-checkout="<%= booking.checkOut.toISOString() %>">

    <h1 >
      Edit Booking for <%= listing?.title || "Listing" %>
    </h1>
    <div class="card col-6 offset-3 listing-card">
      <img src="<%=booking.listing.image.url%>" class="card-img-top show-img " alt="listing_image">
    </div>
    <label for="editDateRange">Select Dates from the Calendar:</label>
        <div id="calendar-wrapper" class="mb-3">
            <input type="text" id="editDateRange" class="form-control w-full mb-3" placeholder="Choose dates..." required readonly>
        </div>
        <input type="hidden" name="checkIn" id="checkIn" value="<%= booking.checkIn.toISOString() %>">
        <input type="hidden" name="checkOut" id="checkOut" value="<%= booking.checkOut.toISOString() %>">
    

    <div class="flex justify-between">
      <a href="/my/bookings" class="btn btn-outline-danger mx-2">Cancel</a>
      <button type="submit" class="btn btn-outline-success" >Update Booking</button>
    </div>
  </form>
</div>
